body {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.header {
  background-image: url('/image/header1.jpg'); /* Replace with actual path */
  height: 200px; /* Adjust height as needed */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}